extends layout

block content
    main#result
        #overallRGB(style="background-color: rgb(" + colourModes.RGB + ");")
        #resultRGB
            each result in results
                div.block(style="background-color: rgb(" + result.averageRGB + ");")
        - if (prop.lum < 160)
            #overallInfo.bright
                +info
        - else
            #overallInfo
                +info
    script(type="text/javascript" src="/scripts/result.js")

mixin info
    p= "RGB: "
        +generateString(colourModes.RGB, 0)
    p= "HEX: " + colourModes.HEX
    p= "CMYK: "
        +generateString(colourModes.CMYK, 4)
    p= "HSL: " + colourModes.HSL[0].toFixed(2) + "° " + (colourModes.HSL[1] * 100).toFixed(2) + "% " + (colourModes.HSL[2] * 100).toFixed(2) + "%"
    - var text = "Analysed " + prop.size[0] * prop.size[1] + " pixels across " + results.length + " images" + " in " + (timeTaken * 0.001).toFixed(2) + " seconds"
    - if (results.length == 0)
        - text = "No images detected"
    - else if (results.length == 1) text = "Analysed " + prop.size[0] * prop.size[1] + " pixels across " + results.length + " image" + " in " + (timeTaken * 0.001).toFixed(2) + " seconds"
    p= text

mixin generateString(arr, acc)
    - var i = 0
    each val in arr
        - if (i == arr.length - 1)
            span=val.toFixed(acc)
        - else
            span=val.toFixed(acc) + ", "
        - i++